<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/3b38415f-a1b5-4039-97c1-f7a017d0dc83/resourceGroups/BloodDonorResourceGroup/providers/Microsoft.Web/sites/blooddonor-api</ResourceId>
    <ResourceGroup>BloodDonorResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://blooddonor-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>waws-prod-bay-151.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>blooddonor-api</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$blooddonor-api</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>